.contact-section {
  padding: 4rem 1rem;
  background-color: #1f2937; /* gris oscuro */
  max-width: 64rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.contact-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: white;
}

.contact-info {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.contact-prompt {
  font-size: 1.125rem;
  text-align: center;
}

.contact-icons {
  display: flex;
  gap: 1.5rem;
}

.contact-icons img {
  width: 3rem;
  height: 3rem;
  display: block;
}
